body {
  background: whitesmoke;
  padding: 30px 15px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .auth {
      .auth-btn {
        border: 1.5px solid #001BE2;
        border-radius: 50px;
        font-family: noto_sans_semi_bold, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #001CE2;
        padding: 6px 18px;
      }
    }
  }

  .search-bar-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;

    .search-bar {
      width: 100%;

      .input-wrapper {
        position: relative;

        img.search-icon {
          position: absolute;
          left: 14px;
          bottom: 13px;
        }

        input {
          border: 2px solid #C4C9F5;
          height: 50px;
          border-radius: 50px;
          padding-left: 46px;
          width: 100%;
        }
      }

      .skills-suggestions {
        margin-top: 8px;
        margin-left: 12px;

        .skills {
          display: flex;
          align-items: flex-start;
          max-width: 100%;
          overflow-x: auto;

          .single-skill {
            background: #E6E8FC;
            padding: 5px;
            border-radius: 12px;
            font-family: noto_sans_regular, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            color: #687494;
            margin-right: 6px;
            white-space: nowrap;
          }

        }
      }
    }

    .search-btn {
      &:hover {
        cursor: pointer;
      }

      margin-top: 3px;

      img {
        width: 47px;
      }
    }
  }

  .freelancers-list-wrapper {
    .freelancers-list {
      .single-freelancer {
        padding-bottom: 30px;
        margin-bottom: 25px;
        border-bottom: 1px solid #C4C9F5;

        &:last-child {
          border-bottom: none;
        }

        .personal-details {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .profile-picture {
            position: relative;
            margin-right: 8px;
            margin-bottom: 10px;

            img.profile {
              min-width: 64px;
              border-radius: 50%;
              overflow: hidden;
            }

            .message-icon {
              position: absolute;
              bottom: 0;
              left: 0;
              background: white;
              border-radius: 50%;
              width: 22px;
              height: 22px;
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                width: fit-content;
              }
            }
          }

          .professional-details {
            flex-grow: 1;

            .name-wrapper {
              display: flex;
              align-items: center;
              margin-bottom: 8px;
              flex-wrap: wrap;

              .name {
                font-family: noto_sans_semi_bold, sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                color: #001D68;
                margin-right: 4px;
              }

              .job-title {
                font-family: noto_sans_regular, sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                color: #001D68;
                margin-top: 2px;
              }
            }

            .skills {
              display: flex;
              align-items: center;
              max-width: 160px;
              overflow-x: scroll;

              .single-skill {
                font-family: noto_sans_regular, sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                color: #001D68;
                padding: 4px 8px;
                margin-right: 5px;
                background: rgba(196, 201, 245, 0.14);
                border-radius: 6px;
                white-space: nowrap;
              }
            }
          }

          .hire-button-wrapper {
            .hire-button {
              a {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #001BE2;
                height: 36px;
                width: 70px;
                border-radius: 24px;

                font-family: noto_sans_regular, sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 36px;
                color: #FFFFFF;
                text-decoration: none;
              }
            }
          }
        }

        .video-wrapper {
          margin-top: 18px;
          border-radius: 20px;
          overflow: hidden;

          img.soon {
            width: 100%;
          }
        }
      }

      @keyframes gradient-animation {
        0% {
          opacity: 40%;
          filter: blur(3px);
        }
        50% {
          opacity: 90%;
          filter: blur(1px);
        }
        100%{
          opacity: 40%;
          filter: blur(3px);
        }
      }

      .single-freelancer-skeleton {
        min-height: 300px;
        position: relative;
        background: #E6E8FC;
        border-radius: 10px;
        opacity: 0.6;
        transition: box-shadow 0.2s ease-in;
        margin-bottom: 50px;

        animation-name: gradient-animation;
        animation-duration: 3s;
        animation-iteration-count: infinite;

        &:hover{
          box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.4);
        }
        .avatar-skeleton{
          width: 64px;
          height: 64px;
          border-radius: 50%;
          position: absolute;
          top: 12px;
          left: 24px;
          background: white;
        }

        .info-skeleton-one{
          position: absolute;
          top: 24px;
          left: 104px;
          width: 120px;
          height: 20px;
          background: white;
        }

        .info-skeleton-two{
          position: absolute;
          top: 54px;
          left: 104px;
          width: 100px;
          height: 20px;
          background: white;
        }

        .video-skeleton{
          position: absolute;
          top: 120px;
          left: 14px;
          background: white;
          border-radius: 12px;
          width: calc(100% - 28px);
          height: 140px;
        }

      }
    }
  }


  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-logo {
      width: 42px;
      height: 42px;
      background-image: url("/assets/icons/homepage/footer-logo.png");
      background-position-x: 0;
      background-size: cover;
    }

    .social-follow {
      display: flex;

      .single-social {
        width: 32px;
        margin-right: 8px;
        &:last-child{
          margin-right: 0;
        }
      }
    }


    .contact-icons {
      display: flex;
      .single-contact {
        margin-right: 8px;
        width: 32px;
        &:last-child{
          margin-right: 0;
        }
      }
    }

  }


}